
html, body {
  height: 100%;
  min-height: 100%;
}

body {
  @include transition(padding, 0.3s);

  .app {
    height: 100%;
    position: relative;
  }
  &.loading {
    overflow: hidden;
  }
  &.intro {
    overflow: hidden;
    padding-top: 0; // To include the fixed header bar
  }
  &.cart-open {
    overflow: hidden;
  }
}

.close-element, .close-sidebar {
  font-family:$quicksand;
  font-weight:normal;
  font-size:3rem;
}
