button#cookie-button {
  display: block;
  margin: 0 auto;
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  font-size: 48px;
  color: $white;
  font-weight: lighter;
  line-height: 29px;
  padding: 0;

  @include respond(desktop) {
    position: relative;
    top: 38px;
  }
}

#cookie-message {
  p {
    margin: 56px 0;
    line-height: 1.8em;
    font-size: 15px;
  }
  .wrapper-checkbox {
    margin-bottom: 24px;
    input {
      margin-right: 12px;
    }
    label {
      font-size: $fontSizeSmall;
      font-weight: normal;
    }
  }
}
